body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

main {
  padding: 2rem;
  background-image: url("bg-first-view_pc.jpg");
}

section {
  margin-bottom: 2rem;
}

.project {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}